.sheet-container {
  thead {
    @include media-breakpoint-down(xs) { display: none; }
  }

  .capabilities-search-input {
    font-size: 1.5rem;
  }

  .table-heading-description-title {
    width: 25%;
  }
  
  .table-heading-description-title {
    width: 25%;
  }

  .table-cell {
    font-size: 0.8em;
  }
}