// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//https://github.com/twbs/bootstrap/tree/v4.1.1

// Bootstrap Common
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~bootstrap/scss/utilities';

// @import '~bootstrap/scss/reboot';
// @import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/buttons';

// Variables
@import "variables";

@import 'components';

body {
  background: #323232;
  color: #fff;

  font-family: $font-family-base;
}

// form



/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {font-weight:bold;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
